.pricing {
    height: 883px;
    background: rgba(102, 150, 226, 1);
    text-align: center;
    .pricing-options {
      color: white;
      padding: 80px;
      h1 {
        font-size: 2.5rem;
        font-weight: 500;
      }
      img {
        padding: 20px;
      }
    }
  
    article {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-wrap: wrap;
      gap: 40px;
    }
    .black {
      width: 343px;
      border-radius: 5px 5px 0 0;
      background-color: black;
      border-bottom: 5px solid #41d395;
      padding: 20px;
      color: hsla(0, 0%, 100%, 1);
      h1 {
        font-size: 2.5rem;
        padding: 20px;
        font-weight: 400;
        span {
          font-size: 7rem;
        }
      }
      h3 {
        font-weight: 400;
      }
      h5 {
        font-weight: 400;
        color: hsla(0, 0%, 100%, 1);
      }
    }
    .green {
      background-color: #41d395;
      width: 343px;
      height: 40px;
      color: white;
    }
    .list {
      background-color: white;
      width: 343px;
      border-radius: 0 0 5px 5px;
      li {
        padding: 10px;
        list-style: none;
      }
    }
  }